# Секретные файлы конфигурации и токены (НИКОГДА не пушить в открытый доступ!)
.env
*.env

# Виртуальное окружение Python
venv/
env/
.venv/

# Кэш Python
__pycache__/
*.py[cod]
*$py.class

# Логи и временные файлы
*.log
.DS_Store
Thumbs.db
